/* body styles */
body {
  background-color: #f2eaea;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #483232;
}

/* header */
.title-container {
  margin: 0 auto;
  padding: 30px 0;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 10px auto 10px;
}

/* about section */
.about-section {
  display: flex;
  flex-direction: row;
}

.text-container{
  width: 60%;
  padding: 0 60px;
}

.text-container h2 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 25px;
  font-weight: 500;
}

.text-container h3 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-container ul {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  }

.text-container li {
  margin: 5px 0;
}

.img-container {
  width: 40%;
}

.img-container img {
  width: 500px;
  display: block;
  margin: 50px auto;
  }

.about-button {
    width: 15rem;
    height: 3.5rem;
    border-style: none;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    background: #483232;
    color: #ececec;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem #00000053;
    transition: all 0.4s;
    margin-top: 20px;
}

.about-button:hover {
    background-color: #bcaa82;
    color: #48323d;
}

.icon {
  width: 30px;
  height: 30px;
}

/* Project 1 section */
.project1 {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.project1-containerText {
  width: 40%;
  padding: 0 60px;
}

.project-img {
  width: 1000px;
  display: block;
  margin: 110px auto;
}

.project1-containerText h2 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
}

.project1-containerText p {
  font-size: 25px;
  font-weight: 500;
}

.project1-containerText h3 {
  font-size: 35px;
  font-weight: 500;
}

.project1-containerText ul {
  font-size: 25px;
  font-weight: 500;
}

.project1-containerText li {
  margin: 5px 0;
}

.project1-button {
  width: 15rem;
  height: 3.5rem;
  border-style: none;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  background: #483232;
  color: #ececec;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1rem 1rem 1rem #00000053;
  transition: all 0.4s;
  margin-top: 20px;
}

.project1-button:hover {
  background-color: #bcaa82;
  color: #48323d;
}

.project1-containerImg {
  width: 60%;
}

/* Project 2 section */
.project2 {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.project2-containerText {
  width: 40%;
  padding: 0 60px;
}

.project2-containerText p {
  font-size: 25px;
  font-weight: 500;
}

.project2-containerText h3 {
  font-size: 35px;
  font-weight: 500;
}

.project2-img {
  width: 1000px;
  display: block;
  margin: 40px auto;
}

.project2-containerText ul {
  font-size: 25px;
  font-weight: 500;
}

.project2-containerText li {
  margin: 5px 0;
}

.project2-button {
  width: 15rem;
  height: 3.5rem;
  border-style: none;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  background: #483232;
  color: #ececec;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1rem 1rem 1rem #00000053;
  transition: all 0.4s;
  margin-top: 20px;
}

.project2-button:hover {
  background-color: #bcaa82;
  color: #48323d;
}

.project2-containerImg {
  width: 60%;
}

/* Footer */
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.img-social {
	width: 3.5rem;
	height: 3.5rem;
}

.footer-social li img {
  width: 3.5rem;
	height: 3.5rem;
}

.footer-social li {
  font-size: 25px;
}
