@import url("./something.css");

/* body styles */
body {
  background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */
.title-container {
  margin: 0 auto;
  padding: 30px 0;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

/* about section */
.about-section {
  display: flex;
  flex-direction: row;
}

.text-container{
  width: 60%;
  padding: 0 60px;
}

.text-container h2 {
  font-size: 35px;
  font-weight: 500;
}

.text-container p {
  font-size: 25px;
  font-weight: 500;
}

.text-container h3 {
  font-size: 35px;
  font-weight: 500;
}

.text-container ul {
  font-size: 25px;
  font-weight: 500;
  }

.text-container li {
  margin: 10px 0;
}

.img-container {
  width: 40%;
}

.img-container img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-button {
    width: 15rem;
    height: 4.5rem;
    border-style: none;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    background: #3a2d2d;
    color: rgb(236, 236, 236);
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.324);
    transition: all 0.4s;
    margin-top: 20px;
}

.about-button:hover {
    background-color: rgb(229, 197, 67);
    color: #3a2d2d;
}
